.container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"),
    url("./fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
}

