body {
    background-color: #F2F2F2;
}

.container-card {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.company-title {
    text-align: center;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2F2F51;
}

.about-company {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    column-gap: 20px;
}

.about-company__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F51;
    background: none;
    border: none;
}

.about-company__button--active {
    background: #EF7F04;
    border-radius: 3px;
    color: #FFFFFF;
    align-items: center;
    border: none;
    padding: 10px 19px 10px 14px;
}

.about-company__card {
    display: flex;
    justify-content:center;
    align-items: stretch;
    width: 1200px;
    margin: 0 auto;
    background-color:white;
}

.about-company__card__description {
    margin: 0 auto;
    background-color:white;
}

.about-company__card__description__text {
    display: flex;
    margin: 87px 0 0 66px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.company-qualities {
    width: 1200px;
    margin: 70px auto;
}

.card {
    display: flex;
    margin: 0 auto;
    row-gap: 70px;
    flex-wrap: wrap;
    align-items: flex-start;
    vertical-align: top;
}

.card__content {
    display: flex;
    width: 300px;
    height: 80px;
    flex: 0 0 33.333%;
    justify-content: center;
    margin: 0 auto;
}

.card__content__info {
    justify-content: center;
}

.card__content__info-title {
    width: 200px;
    margin: auto 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #2F2F51;
}

.card__content__info-text {
    width: 200px;
    margin: auto 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.button {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.button-item {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 17px 32px 18px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #EF7F1A;
}

