.portfolio {
    display: flex;
    justify-content:center;
    align-items: stretch;
    width: 100%;
    margin: 0 auto;
    
}

.portfolio-container{
    display: flex;
    justify-content:center;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 10px;
}


.block__portfolio {
    display: flex;
    justify-content:center;
    align-items: stretch;
    width: 1200px;
    background-color:white;
}

.portfolio-icon {
    display: flex;
    padding: 20px;
    gap: 50px;
}


.portfolio-title {
    text-align: center;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2F2F51;
}

.faq {
    width: 63%;
    background-color: #EF7F1A;
    border-radius: 7px;
    text-align: center;
    padding: 15px 0 40px;
    margin: 75px auto;
    min-width: 880px;
}

.faq-title {

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 28px;
    color: #FFFFFF;
}

.details-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

details {
    position: relative;
    background: #EEEEF3;
    border-radius: 3px;
    padding: 20px 15px;
    width: 80%;
    text-align: left;
}

details:hover {
    background: #FFFFFF;
    cursor: pointer;
    color: #EF7F04;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
}

summary {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2F2F51;
    list-style: none;
}

p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

summary::after {
    content: '';
    position: absolute;
    right: 20px;
    content: url(./images/open-arrow.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 28px 14px;
    width: 30px;
    height: 15px;
}

details[open] summary:after {
    transform: rotate(180deg);
}

details > p {
    padding: 5px;
    color: #000;
}

details:hover > summary:after {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}