.fixed::after {
    content: '';
    position: absolute;
    width: 638px;
    height: auto;
    content: 'РАЗРАБОТЧИК';
    font-weight: 400;
    font-size: 4em;
    line-height: 110px;
    text-align: center;
    color: #FFFFFF;
    left: 0px;
    top: 969px;
    background: #121212;
}

.rubbery {
    padding: 0 0 0 70px;
}

.information > h2 {
    font-weight: 500;
    font-size: 3em;
    line-height: 56px;
    padding: 60px 0 20px 0;
    color: #121212;
}

.information > p {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 28px;
    color: #121212;
}

.networks {
    display: flex;
    padding: 50px 0 50px 0;
    gap: 30px;
}

.networks:hover img {
    transform: scale(1.1);
}

.technologies > p {
    font-weight: 500;
    font-size: 2em;
    line-height: 38px;
    color: #121212;
    padding: 0 0 20px ;
}

.technologies-block {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.technologies-block__button {
    width: 198px;
    height: 66px;
    transition: all 400ms ease;
    background: #414141;
    border-radius: 45px;
    font-weight: 500;
    font-size: 2em;
    line-height: 38px;
    color: #FFFFFF;
}

.technologies-block__button:hover {
    opacity: 0.3;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.about-me {
    padding: 0 0 50px 0;
    font-weight: 500;
    font-size: 2em;
    line-height: 38px;
    text-indent: 30px;
    color: #121212;
}

.about-me__headline {
    padding: 50px 0 20px 0 ;
}

.feedback__fieldset {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 0 25px;
}

input {
    margin-right: 25px;
    width: 329px;
    height: 2.5em;
    background: #FFFFFF;
    border-radius: 11px;
    font-size: 24px;
}

input::placeholder {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 38px;
    color: #121212;
    padding: 0 0 0 16px;
}

.feedback__button {
    width: 702px;
    height: 66px;
    background: #121212;
    border-radius: 11px;
    font-weight: 500;
    font-size: 2em;
    line-height: 38px;
    color: #FFFFFF;
    cursor: pointer;
}

.feedback__button:hover {
    background: #414141;
}

.feedback__button:active {
    background: #1E1E1E;
}